In [8]:
import pandas as pd
import string

In [2]:
df = pd.read_csv('data/cik_ticker.csv', sep='|')

In [3]:
df.Exchange = df.Exchange.astype(str)

In [4]:
df = df[(df['Exchange'] == 'NYSE') | (df['Exchange'] == 'NASDAQ')]

In [5]:
df.drop(columns=['Business', 'Incorporated', 'IRS', 'CIK', 'Exchange', 'SIC'], inplace=True)

In [6]:
df = df.reset_index(drop=True)

In [15]:
for i in df.index:
    df['Name'][i] = str(df['Name'][i]).replace('Inc', '').replace('LP', '').replace('Corp', '').replace('LTD', '').strip()

In [18]:
df.Ticker = df.astype(str)

In [19]:
df.shape

(5549, 2)

In [20]:
df.head()

  Ticker                                        Name
0      A                        Agilent Technologies
1     AA                                       Alcoa
2    AAC  Sinocoking Coal & Coke Chemical Industries
3    AAL                     American Airlines Group
4   AAME                           Atlantic American

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5549 entries, 0 to 5548
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  5549 non-null   object
 1   Name    5549 non-null   object
dtypes: object(2)
memory usage: 86.8+ KB

In [26]:
df.to_csv('data/tickers.csv')